
$background-color: #5CDB95;
$background-color-light: #8EE4AF;
$background-color-dark: #379683;
$blue-color: #05386B;
$blue-color-on-hover: #042b52;
$cto-color: #DB675C;
$cto-color-on-hover: #b6564d;
$beige: #EDF5E1;
$dark-beige: #8b967b;